/* Fontes */
@font-face {
  font-family: 'Mont-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../../files/fonts/Poppins-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Mont-SemiBold';
  font-weight: normal;
  font-style: normal;
  src: url('../../files/fonts/Poppins-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Mont-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../../files/fonts/Poppins-Regular.ttf') format('ttf');
}
