/* 
<section class="apresentacao"> 
*/
section.apresentacao {
  width: 100%;
  position: relative;
}
section.apresentacao .icon-arow {
  width: 50px;
  position: absolute;
  bottom: 15px;
  left: 45%;
  z-index: 2;
  animation: arrow 2s ease-in-out infinite;
}
@keyframes arrow {
  0% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
  50% {
    filter: brightness(110%);
    transform: translate(0, -20px);
  }
  100% {
    filter: brightness(100%);
    transform: translate(0, 0);
  }
}
section.apresentacao .section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
section.apresentacao .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px 35px;
  width: 50%;
}
section.apresentacao .texto h1 {
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--cor-preto);
  line-height: 1.4;
  margin: 15px 0 0 0;
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
}
section.apresentacao .texto .barra {
  width: 40%;
  border-top: 3px solid var(--cor-ciano);
  border-radius: 10px;
  margin-bottom: 10px;
}
section.apresentacao .texto img {
  width: 100%;
  max-width: 300px;
}
section.apresentacao .texto h1 span {
  color: var(--cor-ciano);
}
section.apresentacao .imagem {
  width: 50%;
}
section.apresentacao .imagem img {
  width: 100%;
}
/* 
Responsivo 
*/
@media screen and (max-width: 800px) {
  section.apresentacao {
    background-image: url(../../../../files/images/presentation-phone.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  section.apresentacao .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.apresentacao .texto {
    padding: 40px 30px;
    width: 100%;
  }
  section.apresentacao .texto .tag img {
    max-width: 13px;
    margin: 0 8px 0 0;
  }
  section.apresentacao .texto h1 {
    font-size: 1.6rem;
    font-weight: bold;
    max-width: 300px;
  }
  section.apresentacao .texto img {
    max-width: 200px;
  }
  section.apresentacao .imagem {
    display: none
  }
  section.apresentacao .imagem img {
    display: none
  }
  section.apresentacao .texto .quadrinhos .quadro {
    padding: 25px 15px;
    width: calc(33.33% - 5px);
  }
  section.apresentacao .texto .quadrinhos .quadro img {
    max-width: 25px;
    max-height: 25px;
  }
  section.apresentacao .texto .quadrinhos .quadro h3 {
    font-size: var(--f1);
  }
  section.apresentacao .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  section.apresentacao .imagem img.homem {
    max-width: 300px;
  }
  @keyframes homemApresentacao {
    0% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
    50% {
      filter: brightness(110%);
      transform: translate(0, -30px);
    }
    100% {
      filter: brightness(100%);
      transform: translate(0, 0);
    }
  }
  section.apresentacao .imagem img.nuvem {
    max-width: 350px;
  }
  section.apresentacao .imagem .quadro {
    background-color: #ffffff87;
    padding: 15px 20px;
  }
  section.apresentacao .imagem .quadro img {
    max-width: 120px;
  }
  section.apresentacao .imagem .quadro.um {
    top: 0;
    left: 30px;
  }
  section.apresentacao .imagem .quadro.dois {
    bottom: 50px;
    right: 30px;
  }
  section.apresentacao .imagem img.wordpress {
    max-width: 30px;
  }
  section.apresentacao .imagem img.elementor {
    max-width: 30px;
  }
  section.apresentacao .imagem img.foguete {
    max-width: 30px;
  }
}
